@import "Core/styles/index.scss";
// this part will update!

.home {
  width      : 100%;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color      : $color-black;

  .content {
    @include flex(center, center, column );
    width            : 100%;
    height           : calc(100vh - 100px); 
    display          : flex;
    text-align       : center;
    //background-color : $color-sky;
    color            : #f0f0f0;
    font-size        : 20px;
  

  h2 {
    font-family     : 'Dancing Script', cursive;
    font-size       : 80px;
    color           : $color-black;
    height          : 50px;
  }
}
}