@import "Core/styles/index.scss";
// this part will update!


.container {
   background-color : $color-athensGray;
   background-size  : 100%;
   background-repeat: no-repeat;

  .content {
    @include flex( center, center, column );
    width          : 100%;
    min-height     : 30%;
    // padding        : .5rem;
    margin-top     : 20px;


    .socialMedia svg {
      color       : $color-black;
      margin      : 20px;
      font-size   : 40px;
      cursor      : pointer;

      :hover {
      color       : $color-sky;

      }
    }
  }
  .copyright {
    border-top : 1px solid $color-black;
    font-weight: 400;
    text-align : center;
    color      : rgba($color-black, 0.6);
  }
}
