@import "Core/styles/index.scss";


.container {
  transition: all .2s;
  z-index: 10;
  @include fixed(0,0,null,0);

  .content {
    transition: all .2s;
    @include flex(center);

    nav {
      margin-left      : 40px;
      @include responsive(display, null, none);

      span {
        margin-right   : 24px;
        
        &:last-child {
          margin-right : 0;
        }
      }
    }
  } 
}