@import "Core/styles/index.scss";

.container {
  transition: all .2s;
  z-index: 10;
  @include fixed(0,0,null,0);
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 2px solid black;

  .content {
    transition: all .2s;
    @include flex(center);

    .right {
      color             : $color-white;  
      padding           : 10px 30px;
      margin-left       : auto;
      border-radius     : 4px;

      .sinUpBtn {
        margin-left: 50px;
      }
    }
  }
};