@import "styles/index.scss";


.container {
    @include flex(center, center, column);
    @include content(500px);
    width: 40%;
    height: 65%;
    // max-width: 420px;
    // min-height: 400px;
    padding: 1rem;
    background-color: $color-black;
    font-family: $font-family;
    font-size: 22px;
    color: $color-black;

    h1 {
        color: $color-athensGray;
        font-size: 50px
    }

    form {
        @include flex(null, space-evenly, column);
        flex-grow: 1;
        padding-bottom: 1rem;
        color: $color-athensGray;



        input[type="text"],
        input[type="password"],

        textarea {
            font-family: $font-family;
            font-size: 25px;
            padding: 0.25rem;
            border-radius: 0.5rem;
            color: $color-black;

        }

        label {
            margin-top: .5rem;
        }
    }

    .logInBtn {
        padding: 1rem;
        width: 400px;
        height: 40px;
        border: none;
        margin-top: 20px;
        background-color: $color-green;
        color: $color-black;
        font-weight: bold;
        cursor: pointer;
    }

    .errorMessage {
        font-size: 12px;
        color: $color-red;
        margin-top: 10px;
    }
}