$font-family: 'Nunito',
sans-serif;

$primary-color       : #0b291d;
$color-black         : #1E1E1E;
$color-white         : #ffff;
$color-athensGray    : #F7F7F9;
$color-minty         : #dffffa;
$color-limegreen     : #242c24;
$color-red           : #ff0000;
$color-lightpink     : #ffb6c1;
$color-firebrick     : #da9999;
$color-ice           : #e6f4ff;
$color-sky           : #a3d8db;
$color-bat           : #e7e7e7;
